*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

h1{
    font-weight: 800;
    font-size: 40px;
    color: #7035ac;
}

.heading{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading button{
    padding: 10px 14px;
    border: none;
    background-color: #7035ac;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.grid-container{
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
}

.cell{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}
